<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>9:00am-10:00am</td>
        <td>(Optional) Tech Check</td>
      </tr>
      <tr>
        <td>10:00am-10:05am</td>
        <td>Automated Version Control</td>
      </tr>
      <tr>
        <td>10:05am-10:10am</td>
        <td>Setting up Git</td>
      </tr>
      <tr>
        <td>10:10am-10:20am</td>
        <td>Creating a Repository</td>
      </tr>
      <tr>
        <td>10:20am-10:40am</td>
        <td>Tracking Changes</td>
      </tr>
      <tr>
        <td>10:40am-11:05am</td>
        <td>Exploring History</td>
      </tr>
      <tr>
        <td>11:05am-11:10am</td>
        <td>Ignoring Things</td>
      </tr>
      <tr>
        <td>11:10am-11:30am</td>
        <td>Branches</td>
      </tr>
      <tr>
        <td>11:30am-12:00am</td>
        <td>Merging</td>
      </tr>
      <tr>
        <td>12:00pm-1:00pm</td>
        <td>LUNCH BREAK</td>
      </tr>
      <tr>
        <td>1:00pm-1:30pm</td>
        <td>Hosting</td>
      </tr>
      <tr>
        <td>1:30pm-1:45pm</td>
        <td>Navigating GitLab</td>
      </tr>
      <tr>
        <td>1:45pm-2:00pm</td>
        <td>GitLab Projects</td>
      </tr>
      <tr>
        <td>2:00pm-2:15pm</td>
        <td>BREAK</td>
      </tr>
      <tr>
        <td>2:15pm-2:45pm</td>
        <td>Remotes</td>
      </tr>
      <tr>
        <td>2:45pm-3:00pm</td>
        <td>Groups</td>
      </tr><tr>
        <td>3:00pm-3:15pm</td>
        <td>Issues</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
        <td>10:00am-10:30am</td>
        <td>Branching Models</td>
      </tr>
      <tr>
        <td>10:30am-11:00am</td>
        <td>Merge Requests</td>
      </tr>
      <tr>
        <td>11:00am-11:30am</td>
        <td>Rebase, Squash, Bisect, Patch</td>
      </tr>
      <tr>
        <td>11:30am-12:00pm</td>
        <td>Cherrypick, Move, Undo</td>
      </tr>
      <tr>
        <td>12:00pm-1:00pm</td>
        <td>LUNCH BREAK</td>
      </tr>
      <tr>
        <td>1:00pm-1:30pm</td>
        <td>Forking Models</td>
      </tr>
      <tr>
        <td>1:30pm-2:00pm</td>
        <td>Collaborating</td>
      </tr>
      <tr>
        <td>2:00pm-2:30pm</td>
        <td>Conflicts</td>
      </tr>
      <tr>
        <td>2:30pm-2:45pm</td>
        <td>BREAK</td>
      </tr>
      <tr>
        <td>2:45pm-3:15pm</td>
        <td>Large File Support</td>
      </tr>
      <tr>
        <td>3:15pm-3:45pm</td>
        <td>Process Automation</td>
      </tr>
      <tr>
        <td>3:45pm-4:15pm</td>
        <td>Releases & Tags</td>
      </tr>
      <tr>
        <td>4:15pm-4:45pm</td>
        <td>Hooks</td>
      </tr>
    </table>
  </div>
</div>
