<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>9:00am-10:00am</td>
        <td>(Optional) Tech Check</td>
      </tr>
      <tr>
        <td>10:00am-10:05am</td>
        <td><a href="https://swcarpentry.github.io/git-novice/01-basics.html">Automated Version Control</a></td>
      </tr>
      <tr>
        <td>10:05am-10:10am</td>
        <td><a href="https://swcarpentry.github.io/git-novice/02-setup.html">Setting up Git</a></td>
      </tr>
      <tr>
        <td>10:10am-10:20am</td>
        <td><a href="https://swcarpentry.github.io/git-novice/03-create.html">Creating a Repository</a></td>
      </tr>
      <tr>
        <td>10:20am-10:40am</td>
        <td><a href="https://swcarpentry.github.io/git-novice/04-changes.html">Tracking Changes</a></td>
      </tr>
      <tr>
        <td>10:40am-11:05am</td>
        <td><a href="https://swcarpentry.github.io/git-novice/05-history.html">Exploring History</a></td>
      </tr>
      <tr>
        <td>11:05am-11:10am</td>
        <td><a href="https://swcarpentry.github.io/git-novice/06-ignore.html">Ignoring Things</a></td>
      </tr>
      <tr>
        <td>11:10am-11:30am</td>
        <td><a href="https://hpc-nrw.github.io/advanced-git/02-branching.html">Branches</a></td>
      </tr>
      <tr>
        <td>11:30am-12:00am</td>
        <td><a href="https://hpc-nrw.github.io/advanced-git/05-merging.html">Merging</a></td>
      </tr>
      <tr>
        <td>12:00pm-1:00pm</td>
        <td>LUNCH BREAK</td>
      </tr>
      <tr>
        <td>1:00pm-1:30pm</td>
        <td><a href="https://swcarpentry.github.io/git-novice/13-hosting.html">Hosting</a></td>
      </tr>
      <tr>
        <td>1:30pm-1:45pm</td>
        <td><a href="https://hpc-nrw.github.io/gitlab-novice/01-navigation.html">Navigating GitLab</a></td>
      </tr>
      <tr>
        <td>1:45pm-2:00pm</td>
        <td><a href="https://hpc-nrw.github.io/gitlab-novice/02-gitlab-projects.html">GitLab Projects</a></td>
      </tr>
      <tr>
        <td>2:00pm-2:15pm</td>
        <td>BREAK</td>
      </tr>
      <tr>
        <td>2:15pm-2:45pm</td>
        <td><a href="https://hpc-nrw.github.io/advanced-git/03-remote.html">Remotes</a></td>
      </tr>
      <tr>
        <td>2:45pm-3:00pm</td>
        <td><a href="https://hpc-nrw.github.io/gitlab-novice/05-groups.html">Groups</a></td>
      </tr><tr>
        <td>3:00pm-3:15pm</td>
        <td><a href="https://hpc-nrw.github.io/gitlab-novice/06-issues.html">Issues</a></td>
      </tr>
      </tr><tr>
        <td>3:15pm-4:00pm</td>
        <td>CLAIX-2023 HPC Cluster Tour (optional)</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
        <td>10:00am-10:30am</td>
        <td><a href="https://hpc-nrw.github.io/advanced-git/07-branching-models.html">Branching Models</a></td>
      </tr>
      <tr>
        <td>10:30am-11:00am</td>
        <td><a href="https://hpc-nrw.github.io/gitlab-novice/07-merge-requests.html">Merge Requests</a></td>
      </tr>
      <tr>
        <td>11:00am-11:30am</td>
        <td><a href="https://hpc-nrw.github.io/advanced-git/14-squash-rebase.html">Rebase, Squash, Bisect, Patch</a></td>
      </tr>
      <tr>
        <td>11:30am-12:00pm</td>
        <td><a href="https://hpc-nrw.github.io/advanced-git/13-cherrypick.html">Cherrypick, Move, Undo</a></td>
      </tr>
      <tr>
        <td>12:00pm-1:00pm</td>
        <td>LUNCH BREAK</td>
      </tr>
      <tr>
        <td>1:00pm-1:30pm</td>
        <td><a href="https://hpc-nrw.github.io/advanced-git/09-forking.html">Forking Models</a></td>
      </tr>
      <tr>
        <td>1:30pm-2:00pm</td>
        <td><a href="https://swcarpentry.github.io/git-novice/08-collab.html">Collaborating</a></td>
      </tr>
      <tr>
        <td>2:00pm-2:30pm</td>
        <td><a href="https://swcarpentry.github.io/git-novice/09-conflict.html">Conflicts</a></td>
      </tr>
      <tr>
        <td>2:30pm-2:45pm</td>
        <td>BREAK</td>
      </tr>
      <tr>
        <td>2:45pm-3:15pm</td>
        <td><a href="https://hpc-nrw.github.io/advanced-git/12-large-files.html">Large File Support</a></td>
      </tr>
      <tr>
        <td>3:15pm-3:45pm</td>
        <td><a href="https://hpc-nrw.github.io/gitlab-novice/08-process-automation.html">Process Automation</a></td>
      </tr>
      <tr>
        <td>3:45pm-4:15pm</td>
        <td><a href="https://hpc-nrw.github.io/advanced-git/06-tags.html">Releases & Tags</a></td>
      </tr>
      <tr>
        <td>4:15pm-4:45pm</td>
        <td><a href="https://hpc-nrw.github.io/advanced-git/15-hooks-actions.html">Hooks</a></td>
      </tr>
    </table>
  </div>
</div>
